.singleSectionContainer {
    overflow-y: hidden;
}


.dividerWithText {
    width: 90%;
    margin-left: 5%;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #EAEAEA;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    height: 35px;
    padding-top: 7px;
}

.dividerText {
    margin-left: 5px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}