.edit-page {
    background: white;
    display: grid;
    grid-template-columns: var(--sidebar-width) auto;
    width: 100vw;
    height: 100%;
    z-index: 200; /* This edit page should be on top of the navigation sidebar*/
    overflow-y: auto;
}

.edit-page .mini-view-bar {
    background: rgba(52, 60, 78,1.0);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    place-self: center;
    box-shadow: 0 0 10px 2px rgba(76, 78, 90,0.5);
    gap: 20px;  /* Spacing between the flashcards in the mini-view-bar */
}

.edit-page .mini-view-bar .flashcard {
    transform: scale(0.7);
    margin: 0;
}

.edit-page .content .header-bar {
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
    background: #EAEAEA;
}

.edit-page .edit-area {
    background: #E9AF40;
    height: 90%;
    width: 98%;
    place-self: center;
    display: grid;
    grid-template-columns: 50% 50%;

}

.edit-page .edit-area .text-editor-div {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #DD3333;
    border-radius: 20px;
}

.edit-page .edit-area .text-editor-div .text-editor {
    width: 95%;
    height: 90%;
    border-radius: 0px 0px 10px 10px;
    padding: 25px;
    font-size: larger;
    resize: none;
}

.flashcard-btn {
    background: #DD3333;
    padding: 0;
    width: 210px;
    height: 140px;
    display: grid;
    place-content: center;
    cursor: pointer;
}


/* Component: TextBoxToolbar*/

.text-box-toolbar {
    background: #EAEAEA;
    width: 95%;
    height: 70px;
    border-radius: 10px 10px 0 0;
}
