.content[id='stack-page']{

}
.card-container {
/*    background: aquamarine;*/
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    padding: 130px 40px 40px 40px;
    margin: -20px -20px;
    width: 100%;
}

.content[id='stack-page'] a{
    width: 50px;
    background: #E9AF40;
}
.content[id='stack-page'] a div{
    height: 3em;
    width: 5em;
    border: solid 4px #DDD;
    border-radius: 10px;
}

